.App {
  text-align: center;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: black;
}

.form {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20%;
}